{% extends "ophasebase/base.html" %}{% load staticfiles i18n %}
{% block title %}Startseite{% endblock %}
{% block heading %}Willkommen zur Ophase Informatik!{% endblock %}

{% block content %}

<div class="margin-top-1"></div>

{% if any_staff_registration_enabled %}
    <div class="box box-highlight box-lilac">
        <h3>Helfer*innen gesucht!</h3>
        <p class="box-big">Du hast Lust, uns bei der Ophase zu unterstützen? Super, klicke direkt <a href="{% url 'website:helfen' %}">hier</a>!</p>
    </div>
{% endif %}

{% if student_registration_enabled %}
    <div class="box box-highlight box-gray">
        <h3>{% trans "Für Tutorinnen und Tutoren während der Ophase" %}</h3>
        <p class="box-big"><a href="{% url 'students:registration' %}">{% trans "Die Erstsemester deiner Kleingruppe registrieren" %}</a></p>
    </div>
{% endif %}

<div class="row">
    {% for active_category in current_ophase.ophaseactivecategory_set.all %}
    {% if forloop.first and forloop.last %}
    <div class="col-lg-12">
    {% elif forloop.first or forloop.counter == 2 %}
    <div class="col-lg-6">
    {% endif %}
        {% cycle "yellow" "teal" "blue" as color silent %}
        {% language active_category.category.lang %}
        <div class="box box-{{ color }} margin-top-3">
            <h2>{{ active_category.category.name }}</h2>
        </div>
        <div class="box box-highlight box-light-{{ color }}">
            <div class="row">
                <div class="col-sm-4 focus-item">
                    <span class="fa fa-calendar"></span>
                    <p>
                        {{ active_category.get_human_short_duration }}<br />
                        <a href="{% url 'website:bachelor' %}">
                            {% trans "zum Stundenplan" %}
                        </a>
                    </p>
                </div>
                <div class="col-sm-4 focus-item">
                    <span class="fa fa-map-marker"></span>
                    <p>
                        {% trans "Gebäude" %} S2|02 <br />
                        <a rel="nofollow" class="external text" target="_blank"
                           href="https://www.tu-darmstadt.de/universitaet/orientierung/lageplaene/lageplaene_stadtmitte/lageplaene_s2/index.de.jsp">
                            {% trans "Lageplan der Uni" %}
                        </a>
                    </p>
                </div>
                <div class="col-sm-4 focus-item">
                    <span class="fa fa-phone"></span>
                    <p>{% trans "Helpdesk" %}:<br />{{ website_settings.helpdesk_phone_number }}</p>
                </div>
            </div>
        </div>
        <div class="box box-{{ color }}">
            {% include active_category.category.description_template %}
        </div>
        {% endlanguage %}
    {% if forloop.first or forloop.last %}
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}


{% block bottom_script %}
    {% include "website/semantics.html" %}
{% endblock %}
