{% extends "ophasebase/base.html" %}{% load staticfiles %}{% load i18n %}
{% block title %}Lehramt Bachelor of Education{% endblock %}
{% block heading %}Ophase für Bachelor of Education{% endblock %}

{% block content %}

<div class="breadcrumbs">
    Du bist hier: <a href="{% url 'website:homepage' %}">Startseite</a> &middot; Lehramt
</div>

<p>
    Hier findest Du den Stundenplan für Lehramts-Erstsemester im Bachelor of Education für die {{ ophase_title }}
    {{ ophase_duration }}. Änderungen sind bis kurz vor Beginn der Ophase möglich. (Stand:
    {{ schedule.stand|date:"SHORT_DATE_FORMAT" }})
</p>

<p>
    Du kannst den Stundenplan auch ausgedruckt von unserem Helpdesk im Raum S2|02 D120 erhalten, komm einfach vorbei.
    Bei Fragen kannst du uns jederzeit eine Mail an ophase-leitung(at)d120.de schreiben oder unter der Nummer +49 (0)
    6151 16-25522 anrufen.
</p>

<img src="{{ schedule.image.url }}" class="img-responsive padding-top-1" />

<div class="padding-top-1"></div>
<p>
    Gültig sind nur Zeit- und Raumangaben in diesem Stundenplan. Andere Angaben
    (zum Beispiel im uniweiten Raumbuchungssystem) haben keine Bedeutung.
</p>

{% endblock %}
