{% extends "ophasebase/base.html" %}{% load staticfiles %}{% load i18n %}
{% block title %}Master Deutsch{% endblock %}
{% block heading %}Ophase für deutschsprachige Master{% endblock %}
{% block language-switcher %}{% endblock %}

{% block content %}

<div class="breadcrumbs">
    Du bist hier: <a href="{% url 'website:homepage' %}">Startseite</a> &middot; Master Deutsch
</div>

<h3>Inhalte und Stundenplan</h3>
<p>
    Die Ophase beginnt mit der Begrüßung für alle Informatik Master-Studienanfänger*innen. Nach der Begrüßung teilen
    sich die Master-Erstsemester in mehrere Kleingruppen auf, in denen wichtige Dinge erklärt werden und Fragen
    beantwortet werden können. Themen sind etwa wie man einen Prüfungsplan erstellt, wie man seine Vorlesungen aussucht
    und alles andere, was ihr für den Start an der TU Darmstadt wissen müsst. Besonders wichtig ist auch der Vortrag der
    Studienberatung mit Informationen zur Prüfungsordnung, zu TUCaN und anderen relevanten Themen.
</p>
<p>Dies ist der Stundenplan der Ophase (Stand 12.08.2016):</p>
<img src="{% static 'website/stundenplan-master-de.png' %}" class="img-responsive" />

<div style="padding-top: 1rem;"></div>
<p>
    Gültig sind nur Zeit- und Raumangaben in diesem Stundenplan. Andere Angaben (zum Beispiel im uniweiten
    Raumbuchungssystem) haben keine Bedeutung.
</p>

<p>
    Die Master-Ophase ist für Master-Erstsemester gedacht, die von einer anderen Hochschule kommen. Die generellen
    Informationen auf der allgemeinen Ophasen-Seite gelten auch für die Master-Ophase: Prinzipiell bringen wir euch hier
    auch Darmstadt, die TU und das Studium am Fachbereich Informatik näher, da ihr aber schon ein Studium hinter euch
    habt, bieten wir euch einen angepassten Stundenplan mit mehr Raum für individuelle Fragen an.
</p>
<p>
    Der Termin mit der Studienberatung ist auch für Master-Erstsemester gedacht, die an der TU Darmstadt ihren Bachelor
    in Informatik gemacht haben.
</p>

<h3>Bin ich hier richtig?</h3>
<p>Die Master-Ophase ist für diese Studiengänge an der TU Darmstadt gedacht:</p>
<ul>
    <li>Master of Science Informatik</li>
    <li>Master of Science Autonome Systeme</li>
    <li>Master of Science Distributed Software Systems</li>
    <li>Master of Science IT Security</li>
    <li>Master of Science Internet und Web-basierte Systeme</li>
    <li>Master of Science Visual Computing</li>
</ul>

{% endblock %}