{% extends "ophasebase/base.html" %}{% load static %}{% load i18n %}
{% block title %}OInforze{% endblock %}
{% block heading %}OInforze zur Ophase{% endblock %}

{% block content %}

<div class="breadcrumbs">
    Du bist hier: <a href="{% url 'website:homepage' %}">Startseite</a> &middot; OInforze
</div>

{% blocktrans%}Hier findest Du die OInforze zur aktuellen Ophase. Es handelt sich dabei um eine Broschüre mit vielen wichtigen Inhalten zum Studium und zum Leben in Darmstadt. Du bekommst ein gedrucktes Exemplar in der Ophase, kannst aber natürlich
zusätzlich auch die digitale Version verwenden.{% endblocktrans %}

{% for oinforz in oinforze %}
    <h2>
        <a href="{{ oinforz.file.url }}">OInforz {{ oinforz.name }}</a>
    </h2>
    <p>Stand: {{ oinforz.last_modified }}</p>
{% endfor %}

{% endblock %}
