{% extends "ophasebase/base.html" %}{% load staticfiles %}{% load i18n %}
{% block title %}OInforze{% endblock %}
{% block heading %}OInforze zur Ophase{% endblock %}

{% block content %}

<div class="breadcrumbs">
    Du bist hier: <a href="{% url 'website:homepage' %}">Startseite</a> &middot; OInforze
</div>

Hier findest Du die OInforze zur aktuellen Ophase. Es handelt sich dabei um eine Broschüre mit vielen wichtigen Inhalten
zum Studium und zum Leben in Darmstadt. Du bekommst ein gedrucktes Exemplar in der Ophase, kannst aber natürlich
zusätzlich auch die digitale Version verwenden.

These are the OInforz booklets for the current Ophase. They contain lots of relevant information both on your studies
and life in Darmstadt. You will get a printed copy in the Ophase, but you can use the digital version as well.

{% for oinforz in oinforze %}
    <h2>
        <a href="{{ oinforz.file.url }}">OInforz {{ oinforz.get_degree_display }}</a>
    </h2>
    <p>Stand: {{ oinforz.stand }}</p>
{% endfor %}

{% endblock %}
