{% extends "dashboard/action.html" %}{% load bootstrap3 %}

{% block title%}Kleingruppen erstellen | Dashboard{% endblock %}

{% block content_dashboard_view %}
<h3>Mehrere Kleingruppen auf einmal erstellen</h3>

<form role="form" action="{{action}}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="reset" class="btn btn-danger">
        {% bootstrap_icon "remove" %} Zurücksetzen
    </button>
    <button type="submit" class="btn btn-success pull-right">
        {% bootstrap_icon "ok" %} Abschicken
    </button>
    {% endbuttons %}
</form>
{% endblock %}
