{% extends "dashboard/action.html" %}{% load bootstrap3 %}{% load i18n %}
{% load static %}

{% block title%}{% trans "Namensschilder erstellen" %} | {% trans "Dashboard" %}{% endblock %}


{% block content_dashboard_view %}
{% bootstrap_messages %}

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>{% trans "Namensschilder erstellen" %} <span class="badge">{{ count_staff }}</span></h3>
	</div>

	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>{% trans "Tutor" %}</th>
						<th>{% trans "Jobs" %}</th>
					</tr>
				</thead>
				<tbody>
					{% for orga in staff %}
					<tr>
						<td>{{ orga.prename }} {{ orga.name }}</td>
						<td>{% if orga.is_tutor %}{% bootstrap_icon "ok" %}{% else %}{% bootstrap_icon "remove" %}{% endif %} </td>
						<td>{{ orga.get_approved_orgajob_names | join:", " }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<form action="{{ request.path }}" method="post">{% csrf_token %}
			<input type="hidden" name="action" value="all_nametags">
			<button class="pull-right btn btn-primary" type="submit">{% trans "PDF mit allen Namensschildern erstellen" %}</button>
		</form>
	</div>
</div>
<form action="{{ request.path }}" method="post">{% csrf_token %}
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3>{% trans "Einzelschild" %}</h3>
		</div>
		<div class="panel-body">
			{% if img %}
			<img class="center-block" style="width:30em;" src="data:image/png;base64,{{ img }}">
			<br>
			{% endif %}
			<div class="form-inline">
				<div class="form-group">
					<label for="surname"> {% trans "Vorname" %}</label>
					<input tabindex="1" class="form-control" id="prename" name="prename" required>
				</div>
				<div class="form-group">
					<label for="name"> {% trans "Nachname" %}</label>
					<input tabindex="2" class="form-control" id="name" name="name" required>
				</div>
			</div>
			<br>
			<div class="table-responsive">
				<table class="table table-bordered table-striped table-highlight">
					<thead>
						<th> {% trans "Tutor" %} </th>
						<th> {% trans "Orga" %} </th>
						<th> <input tabindex="5" type="text" class="form-control" name="extrahead"/></th>
						<th> {% trans "Helpdesk" %} </th>
						<th> {% trans "Leitung" %} </th>
					</thead>
					<tbody>
						<tr>
							<td><input type="checkbox" tabindex="3" class="form-control" name="tutor"/></td>
							<td><input type="checkbox" tabindex="4" class="form-control" name="orga"/></td>
							<td><input type="text" tabindex="6" class="form-control" name="extrarow"/></td>
							<td><input type="checkbox" tabindex="7" class="form-control" name="helpdesk"/></td>
							<td><input type="checkbox" tabindex="8" class="form-control" name="leitung"/></td>
						</tr>
					</tbody>
				</table>
			</div>
			<input type="hidden" name="action" value="single_nametag">
			<button tabindex="9" class="pull-right btn btn-primary" type="submit">{% trans "Namensschild erstellen" %}</button>
		</div>
	</div>
</form>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>{% trans "Gruppenschilder erstellen" %} <span class="badge">{{ groupscount }}</span></h3>
	</div>
	<div class="panel-body">
		{% trans "Erstellt ein pdf mit Schildern (Name und Bild für jede Gruppe)" %}
		<form action="{{ request.path }}" method="post">{% csrf_token %}
			<input type="hidden" name="action" value="group_signs">
			{% if groups_without_picture != 0 %}
			{% url 'dashboard:staff:group_picture_add' as group_picture_url%}
			<div class="alert alert-danger" role="alert">{% blocktrans count counter=groups_without_picture %}
				Es gibt <strong>eine</strong>
				Gruppe ohne Bilder.
				{% plural %}
				Es gibt <strong>{{ groups_without_picture }}</strong>
				Gruppen ohne Bilder.
				{% endblocktrans %}
				{% blocktrans %}
				Wenn nicht alle Bilder eingetragen sind, funktioniert die Generierung nicht.
				Bilder können <a href="{{ group_picture_url }}">hier</a> nachgetragen werden.
				{% endblocktrans %}
			</div>
			<button class="pull-right btn btn-primary disabled" type="button">{% trans "PDF mit allen Gruppenschildern erstellen" %}</button>
			{% else %}
			<button class="pull-right btn btn-primary" type="submit">{% trans "PDF mit allen Gruppenschildern erstellen" %}</button>
			{% endif %}
		</form>
	</div>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>{% trans "Gruppenübersicht erstellen" %} <span class="badge">{{ groupscount }}</span></h3>
	</div>
	<div class="panel-body">
		{% static "staff/csv/rooms.csv" as csvsample %}
		{% blocktrans %}
		Erstellt ein pdf mit einer Übersicht zu allen Tutoren. Hierzu muss zuerst eine Liste mit Räumen
		im CSV-Format hochgeladen werden. Eine Vorlage findet sich <a href="{{ csvsample }}">hier</a>.
		{% endblocktrans %}
		<form action="{{ request.path }}" method="post" enctype="multipart/form-data">{% csrf_token %}
			<input type="hidden" name="action" value="group_overview">
			{% if groups_without_picture != 0 %}
			{% url 'dashboard:staff:group_picture_add' as group_picture_url%}
			<div class="alert alert-danger" role="alert">{% blocktrans count counter=groups_without_picture %}
				Es gibt <strong>eine</strong>
				Gruppe ohne Bilder.
				{% plural %}
				Es gibt <strong>{{ groups_without_picture }}</strong>
				Gruppen ohne Bilder.
				{% endblocktrans %}
				{% blocktrans %}
				Wenn nicht alle Bilder eingetragen sind, funktioniert die Generierung nicht.
				Bilder können <a href="{{ group_picture_url }}">hier</a> nachgetragen werden.
				{% endblocktrans %}
			</div>
			<button class="pull-right btn btn-primary disabled" type="button">{% trans "PDF mit Gruppenübersicht erstellen" %}</button>
			{% else %}
			<button class="pull-right btn btn-primary" type="submit">{% trans "PDF mit Gruppenübersicht erstellen" %}</button>
			{% endif %}
			<input name="roomscsv" type="file"/>
		</form>
	</div>
</div>
{% endblock %}
