{% extends "dashboard/action.html" %}{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans "Übersicht" %} | {% trans "Personal" %}{% endblock %}

{% block content_dashboard_view %}
    <h3>{% trans "Übersicht" %}</h3>

    <div class="row" style="margin-bottom: 50px;">
    <div class="col-sm-4 text-center">
        <h3>{{ count_tutor }}</h3>
        {% trans "Tutoren" %}
    </div>
    <div class="col-sm-4 text-center">
        <h3>{{ count_orga }}</h3>
        {% trans "Orgas" %}
    </div>
        <div class="col-sm-4 text-center">
        <h3>{{ count_helper }}</h3>
        {% trans "Helfer" %}
    </div>
    </div>

    <h4><a href="{% url "admin:staff_person_changelist" %}{{ url_filter_ophase }}&tutorstatus=onlytutors">{% trans "Tutoren" %}</a></h4>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans "Kategorie" %}</th>
            <th>{% trans "Anzahl" %}</th>
            <th>{% trans "Wer?" %}</th>
        </tr>
        </thead>
        {% for cft in categories_for_tutors %}
            <tr>
                <td><a href="{% url "admin:staff_person_changelist" %}{{ cft.filter }}">{{ cft.name }}</a></td>
                <td>{{ cft.count }}</td>
                <td>{% for t in cft.tutor %}
                    <a href="{% url "admin:staff_person_change" object_id=t.id %}">{{ t.get_name }}</a>{% if not forloop.last %},{% endif %}
                {% empty %}-{% endfor %}</td>
            </tr>
        {% empty %}
            <tr><td>{% trans "Bisher keine Tutoren" %}</td><td></td><td></td></tr>
        {% endfor %}
    </table>

    <h4 style="margin-top: 50px;"><a href="{% url "admin:staff_person_changelist" %}{{ url_filter_ophase }}&is_orga__exact=1">{% trans "Orgas" %}</a></h4>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans "Job" %}</th>
            <th>{% trans "Orga(s)" %}</th>
            <th>{% trans "Co-Orga(s)" %}</th>
            <th>{% trans "Interessiert" %}</th>
        </tr>
        </thead>
        {% for oj in orga_jobs %}
            <tr>
                <td><a href="{% url "admin:staff_orgaselectedjob_changelist" %}{{ oj.filter }}">{{ oj.job.label }}</a></td>
                {% for state in oj.states %}
                    <td>
                        {% for o in state %} <a href="{% url "admin:staff_orgaselectedjob_change" object_id=o.id %}">
                            {{ o.person.get_name }}{% if not forloop.last %},{% endif %}</a>
                   {% endfor %}</td>
                {% endfor %}
            </tr>
        {% empty %}
            <tr><td>{% trans "Bisher keine Orgas" %}</td><td></td><td></td><td></td></tr>
        {% endfor %}
    </table>


    <h4 style="margin-top: 50px;"><a href="{% url "admin:staff_person_changelist" %}{{ url_filter_ophase }}&is_helper__exact=1">{% trans "Helfer" %}</a></h4>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans "Job" %}</th>
            <th>{% trans "Eingeteilt" %}</th>
            <th>{% trans "Interessiert" %}</th>
        </tr>
        </thead>
        {% for hj in helper_jobs %}
            <tr>
                <td><a href="{% url "admin:staff_helperselectedjob_changelist" %}{{ hj.filter }}">{{ hj.job.label }}</a></td>
                {% for state in hj.states %}
                    <td>{% for o in state %}
                        <a href="{% url "admin:staff_helperselectedjob_change" object_id=o.id %}">
                            {{ o.person.get_name }}{% if not forloop.last %},{% endif %}</a>
                   {% endfor %}</td>
                {% endfor %}
            </tr>
        {% empty %}
            <tr><td>{% trans "Bisher keine Helfer" %}</td><td></td><td></td></tr>
        {% endfor %}
    </table>

{% endblock %}
{% block bottom_script %}{% load static %}
{% endblock %}
