{% extends "dashboard/action.html" %}{% load static %}{% load bootstrap4 %}{% load i18n %}{% load icons %}

{% block title%}{% trans "Tutoren gepaart" %} | {% trans "Dashboard" %}{% endblock %}

{% block content_dashboard_view %}
<h3>{% trans "Tutoren auf Kleingruppen verteilen" %}</h3>
<div class="alert alert-success">{% icon "check" %} {% trans "Zuteilung erfolgreich gespeichert" %}</div>
<a href="{%  url 'dashboard:staff:tutor_pairing' %}" class="btn btn-default">{% trans "Weitere Paarungen vornehmen" %}</a>
{% endblock %}
