# list files and folders here which should not be set under version control

# database
*.sqlite3

# compiled python byte code
*.pyc

# compiled gettext
*.mo

# bower components
ophasebase/static/ophasebase/components

# static files collected by manage.py collectstatic on root path
/static/

# settings file containing secrets
settings_secrets.py

# JetBrains IDE
.idea/

# pyDev IDE
.project
.pydevproject

# virtualenv
venv/
