{% extends "students/exam_base.html" %}{% load bootstrap4 %}{% load i18n %} {% load icons %}
{% block title %}{% trans "Ophasenregistrierung" %}{% endblock %}

{% block content_exam %}
{% if student_registration_enabled %}
<div id="mainForm">

    <form role="form" action="{{action}}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
    {% buttons %}
        <button type="reset" class="btn btn-danger">
            {% icon "remove" %} {% trans "Zurücksetzen" %}
        </button>
        <button type="submit" class="btn btn-success pull-right">
            {% icon "check" %} {% trans "Abschicken" %}
        </button>
    {% endbuttons %}
    </form>
</div>
{% else %}
<div class="jumbotron margin-top-1">
  {% trans "Derzeit ist die Registrierung nicht freigeschaltet." %}
</div>
{% endif %}
{% endblock %}
{% block bottom_script %}{% load staticfiles %}
{% if student_registration_enabled %}
<script src="{% static "ophasebase/js/dependent_input_visibility.js" %}"></script>

<script type="text/javascript">
    $(function(){
        dependent_multi_checkbox_active('id_newsletters','id_email');
		$(window).keydown(function(event){
		  if(event.keyCode == 13) {
		    event.preventDefault();
		    return false;
		  }
		});
    });
</script>
{% endif %}
{% endblock %}
