{% extends "students/exam_base.html" %}{% load bootstrap3 %}{% load i18n %}

{% block title%}{% trans "Daten gespeichert" %} | {% trans "Klausuranmeldung" %}{% endblock %}

{% block content_exam %}
<script>
<!-- Fill the browser history with dummy entries to improve user privacy //-->
for(var i = 1; i < 100; i++) {
    history.pushState(null, null, '');
}
</script>

<div class="jumbotron margin-top-1">
    <p>{% bootstrap_icon "ok" %} {% trans "Deine Daten wurden erfolgreich gespeichert." %}</p>
    <p><a href="{% url registration_form %}">{% trans "Nächsten Eintrag hinzufügen" %}</a></p>
</div>

{% endblock %}
