
body, table { font: 10pt 'Helvetica Neue',Arial; }
#menu { position: absolute; right: 5px; top: 8px; }

.absplan { border:1px solid #ddd; }
.absplan .dayheader { position: absolute; top: 100px; padding:5px; background: #000; text-align: center; font-weight: bold; color: white;}
.absplan .termin { background: #fea; position: absolute; background-color:#FFFED1; border-collapse: collapse; table-layout: fixed; }
.absplan .termin td { overflow: hidden; padding: 0; }
.absplan .termin .text { text-align: center; }
.absplan .termin time { display: inline-block; background: rgba(80,80,80,0.4); padding: 2px 4px; color: white; line-height: 1.1; }
.absplan .termin small { float: right; padding: 2px 10px 0 0; }
.absplan .header { height: 0.7em; background: rgba(80,80,80,0.3); }
.termin.wunsch .header { background: #FFCB9F; }  .termin.wunsch time { background: #FF9735; }
.termin.ok .header { background: #C9FFD1; }  .termin.ok time { background: #007F25; }
.termin.frei .header { background: rgba(255,255,200,1); }

.raumsel,
#dropdownmenu ul ul { position: absolute; border: 1px solid #ddd; overflow-y: auto;  box-shadow: 1px 1px 6px #999; background: white; padding: 5px 0; min-width: 200px; z-index: 12; }
.raumsel div,
#dropdownmenu ul ul a { padding: 8px 15px; cursor: default; }
.raumsel div:hover,
#dropdownmenu ul ul a:hover { background: #eee; }
.raumsel div.belegt, .raumsel div.belegt:hover { color: #777; background: inherit; }

.ag-fresh .ag-group-cell-entire-row { background: #ddd; background: linear-gradient(to bottom, #ccd 0%, #eef 100%); }

.slotDetails {
  position: absolute; top: 50px; right: 10%; background: white;
  padding: 10px 20px; z-index: 10; box-shadow: 1px 1px 20px #999; 
}
.toolbar { padding: 7px; background: #f7f7f7; border : 1px solid #808080; border-bottom: 0; }

.slotDetails .ak_title, .slotDetails .ak_title input{font:bold 16pt 'Courier New';}
.slotDetails .form-field { margin: 5px 0; }
.slotDetails .form-field label.b { width: 100px; display: inline-block; }
.slotDetails .form-field em { padding: 0 10px; color: #666; }


.tucan { border-collapse: collapse; }
.tucan tr { border-top: 1px solid #ddd; }
.tucan tr td { padding: 3px 10px; }
.tucan th { background: #eee; color: #333; text-align: left; padding: 5px 10px; }
.tucan a{ color: black; }
.tucan .warn { color: #d00; font-weight: bold; }

.linkstyle {color:blue; text-decoration:underline;}

.messageBar { position: fixed; top: 0; left: 0; right: 0; padding: 10px; background: #FDD835; color: white; font-size: 12pt; 
	    }
.progressBar { position: fixed; top: 0; left: 0; width: 30%; height: 5px; background: #0091EA;
	      animation: slide 5s forwards;
}
@keyframes slide {
    0% { width: 30%; }
    30% { width: 50%; }
    100% { width: 60%; }
}
.messageBar.error { background: #E53935;  }
.messageBar.success { background: #43a047;  }

#sidebar { position: absolute; right: 0; top: 50px; width: 140px; bottom: 0; overflow: auto; }
#sidebar a { display: block; padding: 1px 10px; color: #00f; text-decoration: none; }
#sidebar a.current { background: #4347a0; color: #fff; }
#sidebar a small { color: #999; }
#contentArea { margin-right: 150px; }


#dropdownmenu ul, #dropdownmenu li {list-style-type: none; margin: 0; padding: 0;}
#dropdownmenu,#dropdownmenu>ul { display: inline-block; }
#dropdownmenu>ul>li {  display: inline-block; }
#dropdownmenu>ul>li>b, .menubtn { 
	padding: 2px 8px; background: #ddd; margin: 0 3px; display: inline-block; color: #222; text-decoration: none; font-weight: bold;
	border: 1px solid #ccc; font: bold 9pt 'Helvetica Neue',Arial; 
}
#dropdownmenu ul ul { display: none; position: absolute; z-index: 42; }
#dropdownmenu ul li:hover ul { display: block; }
#dropdownmenu ul ul a { display: block; color: #333; text-decoration: none; }

#homepage_menu>ul { margin: 0; padding: 0; }
#homepage_menu>ul>li { display: block; float: left; width: 300px;  border: 1px solid #bbb; margin: 0 10px 10px 0; height: 200px; }
#homepage_menu b { display: block; padding: 10px; background: #ddd; }
#homepage_menu ul ul { margin: 10px 0; }
#homepage_menu::after { display: block; clear: left; content: ""; }




