<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Klausureinteilung</h2>

Verfügbare Plätze: {{ freePlaces }}
<br>
Benötigte Plätze: {{ placesNeeded }}
<br><br>
{{ splitPoints }}
<br><br>
{% for assignment in assignments %}
    <h3>{{ assignment.room }} ({{ assignment.current }} / {{ assignment.max }})</h3>
<table>
{% for a in assignment.students %}
<tr><td>{{ a.name }}</td><td>{{ a.prename }}</td><td>{{ a.tutorGroup }}</td></tr>
{% endfor %}
</table>
{% endfor %}

</body>
</html>