{% extends "ophasebase/base.html" %}{% load static %}{% load i18n %}
{% block title %}Bachelor of Science{% endblock %}
{% block heading %}Ophase für Bachelor of Science{% endblock %}

{% block content %}

<div class="breadcrumbs">
    Du bist hier: <a href="{% url 'website:homepage' %}">Startseite</a> &middot; Bachelor of Science
</div>
{% if category.website.schedule_image %}
<p>
    Hier findest Du den Stundenplan für Bachelor of Science Erstsemester für die {{ ophase_title }} {{ ophase_category_duration }}.
    Änderungen sind bis kurz vor Beginn der Ophase möglich. (Stand: {{ category.website.schedule_last_modified|date:"SHORT_DATE_FORMAT" }})
</p>

<p>
    Bitte komm einfach am Montag zur Begrüßung bzw. vorher gerne schon zum kostenlosen Frühstück. Dort erklären wir Dir
    alles Weitere zur Organisation der Ophase. Bei Fragen aller Art kannst Du uns jederzeit an {{ current_ophase.contact_email_address|urlize }}
    eine E-Mail schreiben oder unter {{ website_settings.helpdesk_phone_number }} anrufen.
</p>

<img src="{{ category.website.schedule_image.url }}" class="img-responsive padding-top-1" />

    <div class="padding-top-1"></div>
<p>
    Gültig sind nur Zeit- und Raumangaben in diesem Stundenplan. Andere Angaben
    (zum Beispiel im uniweiten Raumbuchungssystem) haben keine Bedeutung.
</p>
{% else %}
<p>
    Weitere Informationen folgen in Kürze. Bei Fragen aller Art kannst Du uns jederzeit an {{ current_ophase.contact_email_address|urlize }}
    eine E-Mail schreiben{% if website_settings.helpdesk_phone_number %} oder unter {{ website_settings.helpdesk_phone_number }} anrufen{% endif %}.
</p>

{% endif %}

{% endblock %}
