{% extends "ophasebase/base.html" %}{% load staticfiles %}{% load i18n %}
{% block title %}Master DSS{% endblock %}
{% block heading %}DSS Masters orientation week{% endblock %}

{% block content %}

<div class="breadcrumbs">
    Du bist hier: <a href="{% url 'website:homepage' %}">Startseite</a> &middot; Master DSS
</div>

<h3>Content and Schedule</h3>
<p>
    The Ophase starts with the welcome meeting for all new computer science students. After that, the students starting
    a Master's degree will gather into several groups. These groups provide space for explaining different important
    topics and answering your questions. Topics are for example how to create an examination plan (Prüfungsplan), how to
    select courses and anything else you need to know for a successful start at TU Darmstadt. Especially important is
    the presentation by the student advisory service (Studienberatung) with information about examination regulations,
    TUCaN, and other relevant topics.
</p>
<p>The Ophase takes place {{ ophase_category_duration }}:</p>
<img src="{{ category.website.schedule_image.url }}" class="img-responsive" />

<p class="padding-top-1">
    The Master Ophase is made for students who come from another university. We will be showing you the city, the
    TU Darmstadt and the Computer Science department, and mention cultural differences in Germany that maybe you did not
    know yet.
</p>

<h3>Am I In The Right Place?</h3>
<p>
    This Master Ophase is only meant for students from the programm "Master of Science Distributed Software Systems" at
    the TU Darmstadt. For other Master student programms <a href="{% url 'website:detail_view' 'master' %}">click here</a>.
</p>

<h3>OInforz</h3>
<p>
    You will get a printed copy of this booklet with lots of relevant information. If you are curious however, you can
    already look at the digital version of the <a href="{% url 'website:oinforz' %}">OInforz</a>.
</p>


{% endblock %}
