{% extends "ophasebase/base.html" %}{% load static %}{% load i18n %}
{% block title %}Master{% endblock %}
{% block heading %}Ophase für die Master-Studiengänge / Masters orientation week{% endblock %}

{% block content %}

    <div class="breadcrumbs">
        Du bist hier: <a href="{% url 'website:homepage' %}">Startseite</a> &middot; Master Deutsch
    </div>
    <div class="box text-justify">
        <p>
           English version below.
        </p>
        <h3 class="box box-highlight-header box-light-yellow">Inhalte und Stundenplan</h3>
        <div class="box">
            <p>
                Die Ophase beginnt mit der Begrüßung aller Informatik Master-Studienanfänger*innen. Nach der
                Begrüßung folgen einige Vorträge, in denen wichtige Dinge erklärt werden und Fragen beantwortet werden
                können. Themen sind etwa, wie man einen Prüfungsplan erstellt, wie man seine Vorlesungen aussucht und
                alles andere, was ihr für den Start an der TU Darmstadt wissen müsst. Besonders wichtig ist auch der
                Vortrag der Studienberatung mit Informationen zur Prüfungsordnung, zu TUCaN und anderen relevanten
                Themen. Auch wird euch mit einem Get-together die Möglichkeit geboten, neue Kontakte zu Kommiliton*innen
                zu knüpfen. Außerdem werdet ihr jeden Morgen ihr mit einem kostenlosen Frühstücksangebot versorgt.
            </p>

            {% if category.website.schedule_image %}
                <p>Dies ist der Stundenplan der Ophase
                    (Stand: {{ category.website.schedule_last_modified|date:"SHORT_DATE_FORMAT" }}):</p>
                <div class="padding-top-3"></div>
                <img src="{{ category.website.schedule_image.url }}"
                     class="img-fluid img-center box-highlight-header box-light-yellow"/>
                <div class="padding-top-3"></div>
                <p>
                    Die Ophase richtet sich nur nach diesem Stundenplan. Andere Angaben (zum Beispiel im uniweiten
                    Raumbuchungssystem) haben für die Ophase keine Bedeutung.
                </p>
            {% else %}
                <p>Der Stundenplan wird demnächst veröffentlicht.</p>
            {% endif %}

            <p>
                Die Master-Ophase ist für alle Master-Erstsemester gedacht, insbesondere aber auch für jene, die ihren
                Bachelor an einer anderen Hochschule absolviert haben. Wir bringen euch prinzipiell Darmstadt, die TU
                und das Studium am Fachbereich Informatik näher. Da ihr aber schon ein Studium hinter euch habt, bieten
                wir euch einen angepassten Stundenplan mit mehr Raum für individuelle Fragen an.
            </p>

            <p>
                Der Termin mit der Studienberatung ist insbesondere auch für Master-Erstsemester relevant, die an der TU
                Darmstadt ihren Bachelor in Informatik gemacht haben.
            </p>
        </div>

        <h3 class="box box-highlight-header box-light-yellow margin-top-3">Bin ich hier richtig?</h3>
        <div class="box">
            <p>Die Master-Ophase wird für folgende Studiengänge an der TU Darmstadt veranstaltet:</p>
            <ul>
                <li>Master of Science Informatik</li>
                <li>Master of Science Autonome Systeme</li>
                <li>Master of Science IT Security</li>
                <li>Master of Science Internet und Web-basierte Systeme</li>
                <li>Master of Science Visual Computing</li>
                <li>Master of Science Distributed Software Systems</li>
            </ul>
        </div>

        <div class="padding-top-1"></div>
        <h3 class="box box-highlight-header box-light-yellow margin-top-3">OInforz</h3>
        <div class="box">
            <p>
                Das OInforz bietet Dir eine wichtige Zusammenstellung aller für den Master relevanten Informationen.
                Du wirst in der Ophase eine gedruckte Version dieses Heftes zusammen mit einer Willkommenstasche
                erhalten. Falls Du neugierig bist, kannst Du Dir auch schon mal die digitale Version des <a
                    href="{% url 'website:oinforz' %}">OInforz</a> anschauen.
            </p>
        </div>
        <h3 class="box-light-teal box box-highlight-header">Content and Schedule</h3>
        <div class="box">
            <p>
                The Ophase starts with the welcome meeting for all new computer science students. After that, several
                important topics will be explained. Topics are for example how to create an examination plan
                (Prüfungsplan), how to select courses and anything else you need to know for a successful start at TU
                Darmstadt. Especially the presentation by the student advisory service (Studienberatung) will be
                important. It provides information about examination regulations, TUCaN and other relevant topics.
            </p>

            <p>The Ophase takes place {{ ophase_category_duration }}:</p>
            <div class="margin-top-3"></div>
            <img src="{{ category.website.schedule_image.url }}"
                 class="img-fluid box-light-teal img-center box-highlight-header "/>
            <div class="margin-top-3"></div>

            <p>
                The Master Ophase is made for each student starting a master's degree. We are going to show you the
                city, the university as well as the computer science department. We also will talk about cultural
                differences in Germany that you maybe did not know yet. Furthermore we offer a get-together for you
                which gives you the possibility to start new friendships with your fellow students.
            </p>
        </div>

        <h3 class="box box-highlight-header box-light-teal margin-top-3">Am I In The Right Place?</h3>
        <div class="box">
            <p>
                This Master Ophase is meant for students from these masters at the TU Darmstadt:
                <ul>
                    <li>Master of Science Informatik</li>
                    <li>Master of Science Autonome Systeme</li>
                    <li>Master of Science IT Security</li>
                    <li>Master of Science Internet und Web-basierte Systeme</li>
                    <li>Master of Science Visual Computing</li>
                    <li>Master of Science Distributed Software Systems</li>
                </ul>
                Only the Master of Science Distributed Software Systems is in English!
            </p>
        </div>

        <h3 class="box-light-teal box box-highlight-header margin-top-3">OInforz</h3>
        <div class="box">
            <p>
                This booklet provides important information about the master's degree. You will get a printed copy in
                the Ophase weclome bag. However, if you are curious you can already look at the digital version of the
                <a href="{% url 'website:oinforz' %}">OInforz</a>.
            </p>
        </div>
        <h3 class="box-light-teal box box-highlight-header">Content and Schedule</h3>
        <div class="box">
            <p>
                The Ophase starts with the welcome meeting for all new computer science students. After that, several
                important topics will be explained. Topics are for example how to create an examination plan
                (Prüfungsplan), how to select courses and anything else you need to know for a successful start at TU
                Darmstadt. Especially the presentation by the student advisory service (Studienberatung) will be
                important. It provides information about examination regulations, TUCaN and other relevant topics.
            </p>

            <p>The Ophase takes place {{ ophase_category_duration }}:</p>
            <div class="margin-top-3"></div>
            <img src="{{ category.website.schedule_image.url }}"
                 class="img-fluid box-light-teal img-center box-highlight-header "/>
            <div class="margin-top-3"></div>

            <p>
                The Master Ophase is made for each student starting a master's degree. We are going to show you the
                city, the university as well as the computer science department. We also will talk about cultural
                differences in Germany that you maybe did not know yet. Furthermore we offer a get-together for you
                which gives you the possibility to start new friendships with your fellow students.
            </p>
        </div>

        <h3 class="box box-highlight-header box-light-teal margin-top-3">Am I In The Right Place?</h3>
        <div class="box">
            <p>
                This Master Ophase is only meant for students from the program "Master of Science Distributed Software
                Systems" at the TU Darmstadt. For other Master student programs
                <a href="{% url 'website:detail_view' 'master' %}">click here</a>.
            </p>
        </div>

        <h3 class="box-light-teal box box-highlight-header margin-top-3">OInforz</h3>
        <div class="box">
            <p>
                This booklet provides important information about the master's degree. You will get a printed copy in
                the Ophase weclome bag. However, if you are curious you can already look at the digital version of the
                <a href="{% url 'website:oinforz' %}">OInforz</a>.
            </p>
        </div>
    </div>
{% endblock %}
