{% extends "ophasebase/frontend_base.html" %}{% load static %}{% load i18n %}
{% block title %}Master DSS{% endblock %}
{% block heading %}DSS Masters orientation week{% endblock %}

{% block content %}

    <div class="breadcrumbs">
        Du bist hier: <a href="{% url 'website:homepage' %}">Startseite</a> &middot; Master DSS
    </div>
    <div class="box text-justify">
        <h3 class="box-light-teal box box-highlight-header">Content and Schedule</h3>
        <div class="box">
            <p>
                The Ophase starts with the welcome meeting for all new computer science students. After that, several
                important topics will be explained. Topics are for example how to create an examination plan
                (Prüfungsplan), how to select courses and anything else you need to know for a successful start at TU
                Darmstadt. Especially the presentation by the student advisory service (Studienberatung) will be
                important. It provides information about examination regulations, TUCaN and other relevant topics.
            </p>

            <p>The Ophase takes place {{ ophase_category_duration }}:</p>
            <div class="margin-top-3"></div>
            <img src="{{ category.website.schedule_image.url }}"
                 class="img-fluid box-light-teal img-center box-highlight-header "/>
            <div class="margin-top-3"></div>

            <p>
                The Master Ophase is made for each student starting a master's degree. We are going to show you the
                city, the university as well as the computer science department. We also will talk about cultural
                differences in Germany that you maybe did not know yet. Furthermore we offer a get-together for you
                which gives you the possibility to start new friendships with your fellow students.
            </p>
        </div>

        <h3 class="box box-highlight-header box-light-teal margin-top-3">Am I In The Right Place?</h3>
        <div class="box">
            <p>
                This Master Ophase is only meant for students from the program "Master of Science Distributed Software
                Systems" at the TU Darmstadt. For other Master student programs
                <a href="{% url 'website:detail_view' 'master' %}">click here</a>.
            </p>
        </div>

        <h3 class="box-light-teal box box-highlight-header margin-top-3">OInforz</h3>
        <div class="box">
            <p>
                This booklet provides important information about the master's degree. You will get a printed copy in
                the Ophase weclome bag. However, if you are curious you can already look at the digital version of the
                <a href="{% url 'website:oinforz' %}">OInforz</a>.
            </p>
        </div>
    </div>
{% endblock %}
