<p>
Die Orientierungsphase, kurz Ophase genannt, ist die Woche vor dem eigentlichen Beginn der Vorlesungen.
In dieser Woche werden wir Dir und vielen anderen Erstsemestern die Universität und das Leben als
Student vorstellen. Du wirst viel über Dein Informatik-Studium erfahren, über die Organisation von
Studium und Universität und wir werden Dir den Campus und Darmstadt zeigen. So weißt Du dann im Studium,
wohin Du gehen musst, wenn Du an der Uni etwas lernen willst - und wohin, wenn Du außerhalb der
Vorlesungen auch noch was erleben willst. Los geht es mit der Begrüßung am
{{ current_ophase.start_date | date:"l, j. F Y" }}. Was Dich in dieser Woche sonst noch an Programm
erwartet, kannst Du dir auf dem <a href="{% url 'website:detail_view' 'bachelor' %}">Stundenplan</a> anschauen. Du
kannst Dir auch schon einmal die digitale Version des <a href="{% url 'website:oinforz' %}">OInforz</a>
anschauen.
</p>
<p>
Die Ophase ist nicht verpflichtend für Dein Studium, aber aus unseren Erfahrungen ist sie eines der
wichtigsten Ereignisse in Deinem Studium. Darum nimm Dir die Zeit und besuche die Ophase.
</p>

<h3>Bachelor of Science</h3>
<p>
    Die meisten Erstis in der Ophase studieren diesen Studiengang. Das normale Programm wie es im Stundenplan
    dargestellt wird ist primät auf euch ausgelegt.
</p>

<h3>Joint-Bachelor Informatik</h3>
<p>
    Erstis, die den Joint-Bachelor mit Informatik-Anteil beginnen, können an unserer Ophase teilnehmen. Es gibt keinen
    gesonderten Stundenplan. Stattdessen erhalten sie
    vom FB 02 die Stundenpläne ihrer beiden Fächer und können dann selbst aussuchen, welche Veranstaltungen sie bei
    welcher Ophase besuchen. Welche Veranstaltungen besonders relevant sind, lässt sich schwer sagen, weil dies auch
    vom zweiten Fach abhängt. Man sollte versuchen, jeden Themenkomplex irgendwie abzudecken, und sowohl inhaltliche
    Informationen zu bekommen als auch in den freieren Veranstaltungen andere Studis kennen zu lernen. Bei Fragen in der
    Ophase hilft unser Helpdesk gerne weiter, davor könnt ihr eine Mail an die Ophasenleitung schreiben.
</p>

<h3>Bachelor of Education</h3>
<p>
    Für den Bachelor of Education wird es in einem der Workshopslots spezifische informationen zu dem Studiengang und
    dessen Organisation geben.
</p>

<h3>Programmiervorkurs</h3>
<p>
Noch keine Ahnung vom Programmieren? Dann komm zum Vorkurs! Alle relevanten Infos findest du auf der
<a href="{{ website_settings.vorkurs_url }}">Webseite</a> und im
<a href="{{ website_settings.vorkurs_forum_url }}">Forum</a>.
(Termin: {{ website_settings.vorkurs_start_date }} - {{ website_settings.vorkurs_end_date }})
</p>

<h3>Einschreibe-Inforz</h3>
<p>
Auch dieses Semester haben wir ein Einschreibe-Inforz mit allen Informationen kurz vor
Studienbeginn veröffentlicht. Ihr könnt das <a href="{{ website_settings.einforz_url }}">E-Inforz hier
    herunterladen</a>.
</p>

<h3>Semesterticket</h3>
<p>
Tipp: Das Semesterticket ist bereits einen Monat vor Semesterbeginn, also ab März (Sommersemester), bzw.
September (Wintersemester) gültig.
</p>

<h3>Ofahrt</h3>
<p>
Ein Angebot über die Ophase hinaus ist die Ofahrt, bei der Erstis und Fachschaftler*innen zusammen
einige Tage in einer Jugendherberge verbringen. Mehr Informationen findet ihr auf den
<a href="https://www.fachschaft.informatik.tu-darmstadt.de/ofahrt/">Seiten der Ofahrt</a>.
</p>
