<p>
This Ophase programme is specifically made for students in the Distributed Software Systems Master.
</p>
<p>
We will be showing you the city, the TU Darmstadt and what studying at the department of Computer
Science looks like. We will also be covering topics like cultural differences in Germany and common
tasks like registration at the city council.
</p>
<p>
It is not officially required to participate in the orientation week, but we very strongly recommend
doing so. Especially the talk by the student advisory service is important, since you will get all
necessary information related to exams, lectures and registrations there.
</p>
<p><a href="{% url 'website:master-dss' %}">Further information</a></p>
