<p>
Für alle anderen Master, die nur auf Deutsch studiert werden können, bieten wir diese Ophase an. Das
Programm ist sowohl für interne Wechsler*innen als auch Master-Ersties von externen Universitäten
zugeschnitten. Prinzipiell bringen wir euch Darmstadt, die TU und das Studium im Fachbereich Informatik
näher, da ihr aber schon ein Studium hinter euch habt, bieten wir einen kürzeren Stundenplan mit mehr
Raum für individuelle Fragen an.
</p>
<p>
Der Termin mit der Studienberatung ist insbesondere auch für Master-Erstsemester gedacht, die an der TU
Darmstadt ihren Bachelor in Informatik gemacht haben.
</p>
<p><a href="{% url 'website:master-de' %}">Weitere Informationen</a></p>

<h3>Semesterticket</h3>
<p>
Tipp: Das Semesterticket ist bereits einen Monat vor Semesterbeginn, also ab März (Sommersemester), bzw.
September (Wintersemester) gültig.
</p>
