<p>
English version below.
</p>
<p>
Auch dieses Semester bieten wir wieder eine Master-Ophase an.
Aufgrund der aktuellen Situation wird diese komplett online stattfinden. Wir werden euch Infos zu Darmstadt, unserer Uni und eurem Studium bereitstellen. Außerdem wird es die Möglichkeit geben, sich untereinander etwas kennenzulernen.
Bitte habt Verständnis, dass die genauen Pläne noch nicht stehen. Meldet euch an, damit wir euch bald mit genaueren Informationen kontaktieren können.
<p>
Anmeldung unter: <a href="https://anmeldung.d120.de/ophase/2020/">https://anmeldung.d120.de/ophase/2020/</a>
</p>
Der Helpdesk ist via Discord oder per E-Mail unter <a href="mailto:ophase-helpdesk@fachschaft.informatik.tu-darmstadt.de">ophase-helpdesk@fachschaft.informatik.tu-darmstadt.de</a> erreichbar, falls dringende Fragen entstehen.
</p>
<hr>
<p>
This Ophase program is specifically made for master's students.
Due to the current situation it will be held online. The city, the TU Darmstadt and how studying at the department of Computer Science looks like will be shown to you. There will be opportunitiy to get in touch with some of your fellow students. We apologize for not being able to provide exact plans yet. Please register in order to receive the latest information as soon as possible. 
<p>
Registration at: <a href="https://anmeldung.d120.de/ophase/2020/">https://anmeldung.d120.de/ophase/2020/</a>
</p>
If you need help, please contact the helpdesk, reachable via Discord or email (<a href="mailto:ophase-helpdesk@fachschaft.informatik.tu-darmstadt.de">ophase-helpdesk@fachschaft.informatik.tu-darmstadt.de</a>).
</p>
