<p>
English version below.
</p>
<p>
Für alle Master am Fachbereich Infomatik bieten wir diese Ophase an. Das
Programm ist sowohl für interne Wechsler*innen als auch Master-Erstis von externen Universitäten
zugeschnitten. Prinzipiell bringen wir euch Darmstadt, die TU und das Studium im Fachbereich Informatik
näher, da ihr aber schon ein Studium hinter euch habt, bieten wir einen kürzeren Stundenplan mit mehr
Raum für individuelle Fragen an.
</p>
<p>
Der Termin mit der Studienberatung ist insbesondere auch für Master-Erstsemester gedacht, die an der TU
Darmstadt ihren Bachelor in Informatik gemacht haben.
</p>
<p><a href="{% url 'website:detail_view' 'master' %}">Weitere Informationen</a></p>

<h3>Semesterticket</h3>
<p>
Tipp: Das Semesterticket ist bereits einen Monat vor Semesterbeginn, also ab März (Sommersemester), bzw.
September (Wintersemester) gültig.
</p>
<hr>
<p>
This Ophase programme is specifically made for students in Master.
</p>
<p>
We will be showing you the city, the TU Darmstadt and what studying at the department of Computer
Science looks like. We will also be covering topics like cultural differences in Germany and common
tasks like registration at the city council.
</p>
<p>
It is not officially required to participate in the orientation week, but we very strongly recommend
doing so. Especially the talk by the student advisory service is important, since you will get all
necessary information related to exams, lectures and registrations there.
</p>
