{% extends "dashboard/action.html" %}{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans "Aggregierte Bestellungen" %} | {% trans "Kleidung" %}{% endblock %}

{% block content_dashboard_view %}
<h3>{% trans "Aggregierte Bestellungen" %}</h3>

{% for additonal_type, types in orders.items %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>{{ additonal_type }}</h4>
        </div>
        <div class="panel-body">
            {% for type, colors in types.items %}
                <table class="table">
                    <thead><tr>
                        <td><h4>{{ type }}</h4></td>
                        {% for size in all_sizes %}
                            <th>{{ size }}</th>
                        {% endfor %}
                    </tr></thead>
                    {% for color, sizes in colors.items %}
                        <tr>
                            <td>{{ color }}</td>
                            {% for size, count in sizes.items %}
                                <td>{{ count }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
    </div>
{% endfor %}

{% endblock %}
{% block bottom_script %}{% load staticfiles %}
{% endblock %}
