{% extends "dashboard/action.html" %}{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Bestellungen" %} | {% trans "Kleidung" %}{% endblock %}

{% block content_dashboard_view %}
<h3>{% trans "Bestellungen" %}</h3>

<table class="table table-striped">
<thead>
<tr>
    <th>{% trans "Wer" %}</th>
    <th>{% trans "Kleidungsstück" %}</th>
    <th>{% trans "Farbe" %}</th>
    <th></th>
    <th>{% trans "Erhalten" %}</th>
</tr>
</thead>
{% for order in orders %}
    <tr class="{% if order.received_at %}success{% else %}danger{% endif %}">
        <td>{{ order.person.prename }} {{ order.person.name }}</td>
        <td>{{ order.type }} {{ order.size }}</td>
        <td>{{ order.color }}</td>
        <td>
            {% if order.additional %}
                <i class="fa fa-money" aria-hidden="true"></i>
                {% if order.paid %}
                    <span title="{% trans 'Bereits bezahlt' %}">{% bootstrap_icon "ok" %}</span>
                {% else %}
                    <span title="{% trans 'Noch nicht bezahlt' %}">{% bootstrap_icon "warning-sign" %}</span>
                {% endif %}
            {% endif %}
        </td>
        <td>{% if order.received_at %}{% bootstrap_icon "ok" %}{% else %}{% bootstrap_icon "remove" %}{% endif %}</td>
    </tr>
{% empty %}
    <tr><td>{% trans "Bisher keine Bestellungen" %}</td><td></td><td></td></tr>
{% endfor %}
</table>


{% endblock %}
{% block bottom_script %}{% load staticfiles %}
{% endblock %}
