<!DOCTYPE html>{% load staticfiles %}{% load bootstrap3 %}
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | OphaseHQ - d120.de</title>
    <link rel="stylesheet" href="{% static 'ophasebase/components/bootstrap/dist/css/bootstrap.min.css' %}" media="screen" />
</head>
<body>
    <div class="container">

        <!-- Static navbar -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'ophasebase:welcome' %}">OphaseHQ</a>
                </div>
                {% if user.is_authenticated %}
                <div class="navbar-right">
                    <span class="navbar-text">Angemeldet als {{ user.username }} - <a href="{% url 'logout' %}">Logout</a></span>
                </div>
                {% endif %}
            </div>
        </nav>

        <!-- Main component -->
        <div class="jumbotron">
        {% block content %} {% endblock %}
        </div>

    </div>

    <script src="{% static 'ophasebase/components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'ophasebase/components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block bottom_script %}{% endblock %}
</body>
</html>
