<!DOCTYPE html>{% load staticfiles %}{% load i18n %}
<html>
<head>
    <title>{% block title %}{% endblock %} | OphaseHQ - d120.de</title>
    <meta charset="utf-8" />
    <meta name=viewport content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'ophasebase/components/bootstrap/dist/css/bootstrap.min.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'ophasebase/components/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'ophasebase/css/sticky-footer.css' %}" media="screen" />
</head>
<body>
    <div class="container">

        <!-- Static navbar -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'ophasebase:welcome' %}">OphaseHQ</a>
                </div>
                <div class="navbar-right">
                    {% if user.is_authenticated %}
                    <span class="navbar-text">{% trans "Angemeldet als" %} {{ user.username }} - <a href="{% url 'logout' %}">{% trans "Logout" %}</a></span>
                    {% else %}
                    <span class="navbar-text"><a href="{% url 'login' %}?next={{request.path}}">{% trans "Login" %}</a></span>
                    {% endif %}
                    <span class="navbar-text" style="margin-top:10px; margin-bottom:0px;">
                        <form action="{% url 'set_language' %}" method="post" class="form-inline" name="language-form">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.path }}" />
                            <select name="language" class="form-control input-sm">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                        {{ language.code | upper }}
                                    </option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="{% trans 'Sprache ändern' %}" class="btn btn-default btn-sm" />
                        </form>
                    </span>
                </div>
            </div>
        </nav>

        <!-- Main component -->
        <div class="jumbotron">
        {% block content %} {% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted">
                    <span class="pull-left">Fachschaft Informatik - TU Darmstadt &bull; <a href="https://www.fachschaft.informatik.tu-darmstadt.de/impressum">Impressum</a></span>
                    <span class="pull-right">This Software is Open Source <a href="https://github.com/d120/pyophase"><i class="fa fa-github fa-lg"></i></a></span>
                </p>
            </div>
        </footer>

    </div>

    <script src="{% static 'ophasebase/components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'ophasebase/components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script>
        var languageForm = $("form[name='language-form']");
        $(":submit", languageForm).hide();
        $("select", languageForm).change(function(){languageForm.submit()});
    </script>
    {% block bottom_script %}{% endblock %}
</body>
</html>
