{% extends "ophasebase/base.html" %}{% load static i18n %}{% load icons %}
{% block title %}{% trans "Login Auswahl" %}{% endblock %}
{% block heading %}{% trans "Login Auswahl" %}{% endblock %}

{% block content %}
    <h2>Bitte wähle deinen Login aus.</h2>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm">
                <a href="{% url 'tuid_login' %}">TU-ID</a>
            </div>
            <div class="col-sm">
                <a href="{% url 'd120_login' %}">D120</a>
            </div>
            <div class="col-sm">
                <a href="{% url 'local_login' %}">Lokal</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_script %}
{% endblock %}
