{% extends "ophasebase/base.html" %}{% load i18n %}
{% block title %}Willkommen{% endblock %}

{% block content %}

<h1 class="text-center">{% trans "Willkommen" %} - OphaseHQ</h1>
<div class="row">
  <div class="col-md-6">
  <h2>{% trans "Für engagierte Studierende" %}</h2>
  <p><a href="{% url 'staff:registration' %}">{% trans "Bei der nächsten Ophase als Tutor, Organisator oder Helfer mitwirken" %}</a>
  </div>
  <div class="col-md-6">
  <h2>{% trans "Für Tutorinnen und Tutoren" %}</h2>
  <p><a href="{% url 'students:registration' %}">{% trans "Die Erstsemester deiner Kleingruppe registrieren" %}</a></p>
  </div>
  <div class="col-md-6">
  <h2>{% trans "Für Orgas" %}</h2>
  <p><a href="{% url 'dashboard:index' %}">{% trans "Das Dashboard aufrufen" %}</a></p>
  </div>
</div>

{% endblock %}
{% block bottom_script %}
{% comment %}
The lines below add some sematic information about the Ophase.
Since we do not know if the robot uses i18n, the information is presented in German only.
{% endcomment %}
{% if current_ophase != None %}<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "EducationEvent",
  "name": "Ophase",
  "alternateName": "Orientierungsphase",
  "description" : "Die Orientierungsphase, kurz Ophase genannt, ist die Woche vor dem eigentlichen Beginn der Vorlesungen. In dieser Woche werden wir Dir und vielen anderen Erstsemestern die Universität und das Leben als Student vorstellen.",
  "startDate" : "{{  current_ophase.start_date |date:"c" }}",
  "endDate" : "{{ current_ophase.end_date |date:"c" }}",
  "url" : "http://www.d120.de/Ophase",
  "eventStatus": "EventScheduled",
  "typicalAgeRange": "18-",
  "location" :
  {
    "@type" : "Place",
    "name": "Robert-Piloty-Gebäude",
    "address" :
    {
      "@type" : "PostalAddress",
      "streetAddress" : "Hochschulstraße 10",
      "addressLocality" : "Darmstadt",
      "addressRegion" : "Hessen",
      "postalCode" : "64289"
    }
  },
  "organizer" :
  {
   "@type" : "Organization",
   "name" : "Fachschaft Informatik der TU Darmstadt",
   "url" : "http://www.d120.de",
   "telephone" : "+4961511625522",
    "address" :
    {
      "@type" : "PostalAddress",
      "streetAddress" : "Hochschulstraße 10",
      "addressLocality" : "Darmstadt",
      "addressRegion" : "Hessen",
      "postalCode" : "64289"
    }
  },
  "offers" :
  {
    "@type" : "Offer",
    "price": 0,
    "url" : "http://www.d120.de/Ophase"
  }
}
</script>{% endif%}
{% endblock %}
