{% extends "ophasebase/breadcrumbs_adminaction.html" %}{% load static i18n %}{% load icons %}

{% block content %}

<link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" />
<style>
    td {
        font-size: 10pt;
        text-align: center;
    }
    tfoot td {
        border: none;
    }
    tbody td:first-child, tfoot td:first-child {
        text-align: left;
    }
    tr:nth-child(even) {
        background-color: #e9e9e9;
    }
    .fa-check {
        color: #048704;
    }
</style>

<table>
    <thead>
        <tr>
            <td></td>
            <td></td>
            {% for j in jobs %}
            <td>{{ j.label }}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for p in persons %}
        <tr>
            <td>{{ p.prename }} {{ p.name }}</td>
            <td>{% if p.is_tutor == True %}{% icon "user" title="Tutor" %}{% endif %}</td>
            {% for j in p.job_interest %}
            <td>{% if j == True %}{% icon "check" %}{% endif %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            {% for j in jobs %}
            <td>{{ j.label }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>{% trans "Gesamt" %}</td>
            <td></td>
            {% for j in jobs %}
            <td>{{ j.num_person }}</td>
            {% endfor %}
        </tr>
    </tfoot>
</table>

{% endblock %}
