{% extends "dashboard/dashboard_base.html" %}{% load bootstrap3 %}

{% block title%}Übersicht | Dashboard{% endblock %}

{% block content_dashboard %}
    <div class="row">
        <div class="col-lg-3 col-sm-12 col-md-4">
              <!-- Navigation Sidebar -->
            {% block content_dashboard_sidebar %}
                <!-- Default implementation of sidebar (may be overridden in subfiles) -->
            {% endblock %}
        </div>

        <div class="col-lg-9 col-sm-12 col-md-8">
            <!-- Dashboard Action-->
            {% block content_dashboard_view %}{% endblock %}
        </div>
    </div>
{% endblock %}
