{% extends "dashboard/dashboard_base.html" %}{% load bootstrap3 %}{% load i18n %}

{% block title%}{% trans "Übersicht" %} | {% trans "Dashboard" %}{% endblock %}

{% block content_dashboard %}
    <div class="row">
        <div class="col-lg-3 col-sm-12 col-md-4">
              <!-- Navigation Sidebar -->
            {% block content_dashboard_sidebar %}
                <!-- Default implementation of sidebar (may be overridden in subfiles) -->

                <h3>{% bootstrap_icon "console" %} {{ app_name_verbose }}</h3>

                <ul class="nav nav-pills nav-stacked">
                    {% for name, target in sidebar_links %}
                        <li style="border:1px dotted silver;"><a href="{{ target }}">{{ name }}</a></li>
                    {% endfor %}
                </ul>
            {% endblock %}
        </div>

        <div class="col-lg-9 col-sm-12 col-md-8">
            <!-- Dashboard Action-->
            {% block content_dashboard_view %}{% endblock %}
        </div>
    </div>
{% endblock %}
