{% extends "dashboard/dashboard_base.html" %}{% load bootstrap4 %}{% load i18n %}{% load icons %}

{% block title%}{% trans "Übersicht" %} | {% trans "Dashboard" %}{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
{% block content_dashboard_title %}{% endblock %}
</div>
{% endblock %}
{% block content_dashboard %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <!-- Dashboard Action-->

            {% block content_dashboard_view %}{% endblock %}
        </div>
    </div>
{% endblock %}
