{% extends "dashboard/dashboard_base.html" %}{% load bootstrap3 %}{% load i18n %}

{% block title%}{% trans "Übersicht" %} | {% trans "Dashboard" %}{% endblock %}

{% block content_dashboard %}

<style>
.panel {
    width:240px;
    float:left;
    margin-right:20px
}

.panel-body {
    height:150px
}

</style>

<div style="margin-right:-20px">
{% for widget in widgets %}
    <div class="panel panel-{{ widget.get_status }}">
      <div class="panel-body">
        {{ widget.render }}
      </div>
      <div class="panel-heading">
          {% if widget.link_target != "" %}
              <span style="float:right;">
                <a href="{{ widget.link_target }}">{% bootstrap_icon "new-window" %}</a>
              </span>
          {% endif %}
          {{ widget.name }}
      </div>
    </div>
{% endfor %}
</div>

<div style="clear:both"></div>

{% endblock %}
