{% extends "dashboard/dashboard_base.html" %}{% load bootstrap3 %}{% load i18n %}

{% block title%}{% trans "Übersicht" %} | {% trans "Dashboard" %}{% endblock %}

{% block content_dashboard %}

<div>
{% for widget in widgets %}
    <div class="dashboard-panel panel panel-{{ widget.get_status }}">
      <div class="panel-body">
        {{ widget.render }}
      </div>
      <div class="panel-heading">
          {% if widget.link_target != "" %}
              <span class="pull-right">
                <a href="{{ widget.link_target }}">{% bootstrap_icon "new-window" %}</a>
              </span>
          {% endif %}
          {{ widget.name }}
      </div>
    </div>
{% endfor %}
</div>

<div class="clearfix"></div>

{% endblock %}
