{% extends "dashboard/action.html" %}{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans "Persönliche Übersicht" %}{% endblock %}

{% block content_dashboard_view %}

    {% if person_registered == True %}

        {% if show_clothing_order_warning == True %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p>{% trans "Du bekommst ein kostenloses Kleidungsstück als Dankeschön, hast aber noch keins ausgewählt." %} <a href="{%url "clothing:order_new" %}">{% trans "Bitte mach das so schnell wie möglich!" %}</a></p>
        </div>
        {% endif %}

        <h3 style="margin-bottom: 30px;">{% trans "Hallo" %} {{ person.prename }}!</h3>

        <div class="row">

            <div class="col-sm-6 mb-4">
                <div class="card border-info">
                    <div class="card-header bg-info">
                        <h3 class="card-title">{% trans "Deine Aufgaben" %}</h3>
                    </div>
                    <div class="card-body">
                        {% if person.is_tutor %}
                        <h5 style="font-weight: bold;">{% trans "Tutor" %}</h5>
                            {% blocktrans with person.tutor_for as tutor_category %}
                            Du hast dich als Tutor für {{ tutor_category }} eingetragen.
                        {% endblocktrans %}
                        {% if tutor_group != None %}
                            <br>
                            {% blocktrans with tutor_group.name as tgname %}
                                Du wirst zusammen mit <i>{{ tutor_partners }}</i> die Gruppe <i>{{ tgname }}</i> leiten.
                            {% endblocktrans %}
                        {% endif %}
                    {% endif %}

                        {% if person.orgaselectedjob_set.count > 0 %}
                        <h5 style="margin-top: 30px;font-weight: bold;">{% trans "Orga-Jobs" %}</h5>
                        <table class="table table-striped">
                            {% for oj in person.orgaselectedjob_set.all %}
                                {% if oj.status != "n" %}
                                <tr><td>{{ oj.job.label }}</td><td>{{ oj.get_status_display }}</td></tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    {% endif %}

                        {% if person.helperselectedjob_set.count > 0 %}
                        <h5 style="margin-top: 30px;font-weight: bold;">{% trans "Helfer-Jobs" %}</h5>
                        <table class="table table-striped">
                            {% for hj in person.helperselectedjob_set.all %}
                                {% if hj.status != "n" %}
                                <tr><td>{{ hj.job.label }}</td><td>{{ hj.get_status_display }}</td></tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    {% endif %}
                    </div>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="card border-success">
                    <div class="card-header bg-success">
                        <h3 class="card-title">{% trans "Nächste Termine" %}</h3>
                    </div>
                    <div class="card-body">
                        {% for event in next_events %}
                            <div style="margin-bottom: 15px">
                                <b>{{ event.name }}</b><br>
                                {{ event.begin }} - {{ event.end }}<br>
                                {{ event.room }}
                            </div>
                        {% empty %}
                            {% trans "Bisher sind keine Termine hinterlegt." %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% if clothing_orders.count > 0 %}
            <div class="col-sm-6">
                <div class="card border-warning">
                    <div class="card-header bg-warning">
                        <h3 class="card-title">{% trans "Kleidungsbestellungen" %}</h3>
                    </div>
                    <div class="card-body">
                        {% for o in clothing_orders %}
                            <div style="margin-bottom: 15px">
                                <b>{{ o.type }}</b> {{ o.size }} {{ o.color }}<br>
                                <span style="color: #999999">
                                    {% if o.additional %}
                                        {{ o.type.price |floatformat:2 }} €
                                    {% else %}
                                        {% trans "Kostenlos" %}
                                    {% endif %}
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

        </div>

    {% else %}
        <div class="alert alert-danger">
            <p>{% trans "Du bist für diese Ophase nicht als Tutor, Orga oder Helfer registriert und kannst diese Seite deshalb nicht anzeigen." %}</p>
        </div>
    {% endif %}

{% endblock %}
