{% extends "ophasebase/base.html" %}{% load bootstrap3 %}{% load i18n %}
{% block title %}{% trans "Kleidung bestellen" %}{% endblock %}

{% block content %}
<h2>{% trans "Kleidung bestellen" %}</h2>
<div id="mainForm">
    <form role="form" action="{{action}}" method="POST">
        {% csrf_token %}
        <table>
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {% bootstrap_formset wizard.form layout='horizontal' %}
        {% else %}
            {% bootstrap_form wizard.form %}
        {% endif %}
        </table>
    {% buttons %}
        <button type="submit" class="btn btn-success pull-right">
            {% bootstrap_icon "ok" %} {% trans "Weiter" %}
        </button>
    {% endbuttons %}
    </form>
    <div class="clearfix"></div>
</div>
{% endblock %}
