/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.4rem 0rem 0.6rem;
  background-color: #f5f5f5;
}

.footer .container .text-muted {
  margin: 5px 0;
}

a { color: #1141c5 !important; }