{% extends "admin/base_site.html" %}{% load i18n %}

{% block title %}{% trans "Kleidergrößenübersicht" %}{{ block.super }}{% endblock %}

{% block content %}

<h2>{% trans "Übersicht der Kleidergrößen" %}</h2>

<p>
{% blocktrans %}Es wurden {{ data | length }} Größen ausgewertet.{% endblocktrans %}
{% if notallowed != 0 %}
    <p>
        {% blocktrans %}<b>Achtung:</b>
        Es wurde{{ notallowed|pluralize:"n"}} {{ notallowed }} der ausgewählten Personen ignoriert, da diese nicht T-Shirtberechtigt {{notallowed|pluralize:"ist,sind"}}. (kein Tutor/Orga){% endblocktrans %}
    </p>
{% endif %}
{% if unknown_length != 0 %}
    <p>
        <b>Achtung:</b>
        Die folgende{% if unknown_length != 1 %}n {{ unknown_length }} {% endif %} ausgewählte{{unknown_length|pluralize:"n"}} T-Shirtberechtigte{{unknown_length|pluralize:"n"}} Person{{unknown_length|pluralize:"en"}} wurde{{unknown_length|pluralize:"n"}} ignoriert, da diese keine Kleidergröße hinterlegt ha{{unknown_length|pluralize:"t,ben"}}.
        <ul>
            {% for person in unknown %}
            <li><a href="{% url 'admin:staff_person_change' person.id %}">{{ person.prename }} {{ person.name }}</a></li>
            {% endfor %}    
        </ul>
    </p>
{% endif %}
</p>

{% for size in data %}
<fieldset>
    <legend>{% trans "Größe" %}: {{ size.name }}</legend>
    <ul>
    {% for person in size.persons %}
        <li>{{ person.prename }} {{ person.name }}</li>
        {% empty %}
        <li><i>{% trans "Keine Einträge vorhanden" %}</i></li>
    {% endfor %}
    </ul>
</fieldset>
 {% endfor %}

{% endblock %}


