{% extends "admin/base_site.html" %}{% load i18n %}

{% block title %}{% trans "Kleidergrößenübersicht" %}{{ block.super }}{% endblock %}

{% block content %}

<h2>{% trans "Übersicht der Kleidergrößen" %}</h2>

<p>
{% blocktrans %}Es wurden {{ dress_size | length }} Größen ausgewertet.{% endblocktrans %}
{% if notallowed != 0 %}
    <p>
        <b>{% trans "Achtung:" %}</b>
        {% blocktrans count counter=notallowed %}Es wurde {{ counter }} der ausgewählten Personen ignoriert, da diese nicht T-Shirtberechtigt ist. (kein Tutor/Orga){% plural %}Es wurden {{ counter }} der ausgewählten Personen ignoriert, da diese nicht T-Shirtberechtigt sind. (kein Tutor/Orga){% endblocktrans %}
    </p>
{% endif %}
{% if unknown_length != 0 %}
    <p>
        <b>{% trans "Achtung:" %}</b>
        {% blocktrans count counter=unknown_length%}Die folgende ausgewählte T-Shirtberechtigte Person wurde ignoriert, da diese keine Kleidergröße hinterlegt hat:{% plural %}Die folgenden ausgewählten T-Shirtberechtigten Personen wurden ignoriert, da diese keine Kleidergröße hinterlegt haben:{% endblocktrans %}
        <ul>
            {% for person in unknown %}
            <li><a href="{% url 'admin:staff_person_change' person.id %}">{{ person.prename }} {{ person.name }}</a></li>
            {% endfor %}    
        </ul>
    </p>
{% endif %}
</p>

{% for size in dress_size %}
<fieldset>
    <legend>{% trans "Größe" %}: {{ size.name }}</legend>
    <ul>
    {% for person in size.person_set.all %}
        <li>{{ person.prename }} {{ person.name }}</li>
        {% empty %}
        <li><i>{% trans "Keine Einträge vorhanden" %}</i></li>
    {% endfor %}
    </ul>
</fieldset>
 {% endfor %}

{% endblock %}


