{% extends "admin/base_site.html" %}{% load i18n %}

{% block title %}{% trans "E-Mail Mass Subscription Export" %} {{ block.super }}{% endblock %}

{% block content %}

<h2>{% trans "E-Mail Mass Subscription Export" %}</h2>

<p>
{% blocktrans count counter=persons|length %}
Es wurde eine Person ausgewählt.
{% plural %}
Es wurden {{ counter }} Personen ausgewählt.
{% endblocktrans %}
</p>

<textarea cols="60" rows="25">
{% for person in persons %}{{ person.prename }} {{ person.name}} <{{person.email}}>
{% endfor %}</textarea>

{% endblock %}
