{% extends "ophasebase/base.html" %}{% load bootstrap3 %}{% load i18n %}
{% block heading %}Bei der Ophase mithelfen{% endblock %}
{% block title %}{% trans "Daten gespeichert" %} | {% trans "Mitmachen" %}{% endblock %}

{% block content %}

<div class="jumbotron margin-top-1">
    <h2>{% bootstrap_icon "ok" %} {% trans "Deine Daten wurden erfolgreich gespeichert." %}</h2>
    <p>
        {% trans "Vielen Dank dass du mithelfen möchtest. Die Ophasenleitung wird sich in geraumer Zeit bei dir melden, sobald erste organisatorische Dinge oder Termine anstehen. Dies kann unter Umständen noch ein paar Wochen dauern." %}
    </p>
</div>

{% endblock %}
