{% extends "ophasebase/base.html" %}{% load bootstrap3 %}{% load i18n %}
{% block title %}{% trans "Workshopregistrierung" %}{% endblock %}
{% block heading %}Workshopregistrierung{% endblock %}

{% block content %}

{% if workshop_submission_enabled %}
<div id="mainForm">
    <form role="form" action="{{action}}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
    {% buttons %}
        <button type="reset" class="btn btn-danger">
            {% bootstrap_icon "remove" %} {% trans "Zurücksetzen" %}
        </button>
        <button type="submit" class="btn btn-success pull-right">
            {% bootstrap_icon "ok" %} {% trans "Abschicken" %}
        </button>
    {% endbuttons %}
    </form>
</div>
{% else %}
<div class="jumbotron" style="margin-top: 1rem;">
  {% trans "Derzeit ist die Registrierung nicht freigeschaltet." %}
</div>
{% endif %}
{% endblock %}
